.App {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  grid-gap: 60px;
}

p {
  font-family: "Lato", sans-serif;
  /* font-family: "Didact Gothic", sans-serif; */
}

p,
ul {
  font-size: 17px;
  line-height: 26px;
}

a {
  cursor: pointer;
}

.about {
  grid-row: 1;
  grid-column: 1 / span 2;
}

h2 {
  text-transform: uppercase;
  font-size: 50px !important;
  letter-spacing: 10px;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
}

span {
  font-size: 18px !important;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  color: grey;
  /* background-color: red; */
}

h3 {
  font-family: "Source Code Pro", monospace !important;
  font-size: 30px !important;
}
